[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

"c1e7f61" = {path = ".", editable = true}
pillow = "==8.2.0"
djangorestframework = "*"
django = "*"


[dev-packages]

pytest = "*"
"pytest-django" = "*"
"pytest-cov" = "*"
coverage = "*"
twine = "*"
wheel = "*"
ipython = "*"
ipdb = "*"
"flake8" = "*"
